.header {
  display: flex;
  align-items: center;
  background-color: $accent-color;
}

.header__img {
  max-width: 128px;
  margin: 1rem;
  border-radius: 60px;
}

.header__nav {
  display: inline-block;
  flex-grow: 1;
}
