.ul {
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  list-style-type: none;
}

.ul__li {
  display: inline-block;
  margin: 0 0.4rem;
  :hover {
    color: $accent-color;
  }
}
.ul__a {
  text-decoration: none;
}

.ul__a--menu {
  font-size: 1rem;
  font-weight: 600;
  color: $primary-color;
}
