.carrusel {
  width: 500px;
  height: 400px;
}

.carrusel__slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
