.carrusel {
  width: 90%;
  max-width: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carrusel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.carrusel__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrusel__button {
  color: $accent-color;
}
.swiper-pagination-bullet-active {
  background-color: $dark-color;
}
