.picture_imagen {
  display: block;
  width: 100%;
  height: auto;
}
.picture__autor {
  float: right;
  padding-right: 2rem;
  font-style: italic;
}
.picture__a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    color: $accent-color-light;
  }
}
