@use "sass:math";

$font-stack: "Roboto", sans-serif;
$primary-color: #777;
$dark-color: #1f1c1d;
$light-color: rgb(255, 255, 255);
$light-bg-color: rgb(240, 240, 240);
$accent-color: rgb(238, 171, 63);
$accent-color-secondary: rgb(220, 46, 7);
$accent-color-light: rgb(238, 171, 63, 0.4);
$width-1: 640px;
$width-2: 768px;
$width-3: 1024px;
$width-4: 1280px;
